<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<html>
 <head>
     {% load staticfiles %}
 <title>Alibi</title> 
 <meta content="text/html; charset=utf-8" http-equiv="Content-Type" /> 
 <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
  <script type='text/javascript' src="{% static "js/jquery-1.10.2.js" %}"></script>
  <script type='text/javascript' src="{% static "js/jquery.knob.js" %}"></script>
     <script type="text/javascript" src="{% static "js/jQueryRotate.js" %}"></script>
  <script type='text/javascript' src="{% static "js/jstorage.js" %}"></script>
  <!--<script type='text/javascript' src='js/script2.js'></script>-->


<script type="text/javascript">
    	var on_off={{ data.onoff }}
		var hold={{ data.hold }};
		var voltage={{ data.voltage_status }}
		var time_out={{ data.timeout_status }};
		var voltage_val=$.jStorage.get("local_voltage_val");
		var timeout_val=$.jStorage.get("local_timeout_val");

        //on_off = {{ data.machine_status }};




		function showImage1(img1)
		{


					if(on_off==0)
						img1.src = "{% static "css/off.png" %}";
					else if(on_off==1)
						img1.src = "{% static "css/on.png" %}";


		}
		function showImage2(img2)
		{


					if(hold==0)
						img2.src = "{% static "css/off.png" %}";
					else if(hold==1)
						img2.src = "{% static "css/on.png" %}";


		}

		function showImage3(img3)
		{


					if(voltage==0)
						img3.src = "{% static "css/off.png" %}";
					else if(voltage==1)
						img3.src = "{% static "css/on.png" %}";


		}

		function showImage4(img4)
		{


					if(time_out==0)
						img4.src = "{% static "css/off.png" %}";
					else if(time_out==1)
						img4.src = "{% static "css/on.png" %}";


		}

		var lvl = {{ data.machine_status }};

		//var voltage_val;
		//var timeout_val;

		var x; //variable changes value to indicate which regulator is used first

		var image_empty;
		var image_full;
		var image_warning;

		function redirect()
		{
			window.location.href = "/machine/get/"+{{ data.id }}+"/value/?voltage="+voltage_val+"&timeout="+timeout_val+"&on_off="+on_off+"&hold="+hold+"&vc="+voltage+"&to="+time_out;
			//www.gdsfs.com/
			//window.location = "http://192.168.177.1:8000/machine/get/"+x;
            //console.log(voltage_val);
            //console.log({{ data.id }})
		}

		//change the image from on to off and vice versa; also change their respective variable state -- 1 for 'on'/green, 0 for 'off'/red
		function diffImage(img)
		{
		   if(img.src.match(/on/))
		   {

		   	img.src = "{% static "css/off.png" %}";

		   	if(img.alt=="on_off_status")
		   	{

		   		on_off=0;
		   		redirect();
		   	}
		   	else if(img.alt=="hold_status")
		   	{

		   		hold=0;
		   		redirect();

		   	}
		   	else if(img.alt=="voltage")
		   	{

		   		voltage=0;
		   		redirect();
		   	}
		   	else if(img.alt=="timeout")
		   	{

		   		time_out=0;
		   		redirect();
		   	}

		   }

		   else
		   	{

		   		img.src = "{% static "css/on.png" %}";

		   		if(img.alt=="on_off_status") {

		   			on_off=1;
		   			redirect();
		   		}
			    else if(img.alt=="hold_status") {

			    	hold=1;
			    	redirect();
		   		}
			   	else if(img.alt=="voltage") {

			   		voltage=1;
			   		redirect();
			   	}
			   	else if(img.alt=="timeout") {

			   		time_out=1;
			   		redirect();
			   	}

		   	}



		}




 $(document).ready(function(){


 	$('.cs_knob').trigger('configure', {
    	'change': function (v1) {
        voltage_val = v1;
        voltage_val=$.jStorage.get("local_voltage_val");
    }
});
        $('.cs_knob2').trigger('configure', {
    	'change': function (v2) {
         timeout_val = v2;
         timeout_val=$.jStorage.get("local_timeout_val");
         //alert(timeout_val);

         //console.log('new value' + v2);
    }

    });


function changeknobval(val){
                        $('.level')
                        .val(val)
                        .trigger('change');
                    }
function changeknobval1(val){
                        $('.cs_knob')
                        .val(val)
                        .trigger('change');
                    }
function changeknobval2(val){
                        $('.cs_knob2')
                        .val(val)
                        .trigger('change');
                    }


        $(document).ready(

                                function() { changeknobval(lvl);

                                if(lvl==100)
								{
									image_warning = document.getElementById('warning');
									image_warning.src = "{% static "css/warning.png" %}";
									image_full = document.getElementById('full');
									image_full.src = "{% static "css/on.png" %}";



								}

								else if(lvl==0)
								{
									image_empty = document.getElementById('empty');
									image_empty.src = "{% static "css/on.png" %}";
								}
                    });




    });




//THE FUNCTIONS AND VARIABLES IN THE FILE jstorage.js ARE BEING COPIED HERE





</script>


</head>
<body bgcolor="red" style="font color:white">
<div id="wrapper">
<div id="header">
<div id="header_left">
    <strong>STATUS :   &nbsp;</strong>
    <img src="{% static "css/off.png" %}" width="30" height="30"  alt="on_off_status" id="on_off_status" onclick="diffImage(this);" onload="showImage1(this);"/><strong> ON/OFF</strong>&nbsp;
    <img src="{% static "css/off.png" %}" width="30" height="30"  alt="hold_status" id="hold_status" onclick="diffImage(this);" onload="showImage2(this);"/><strong> HOLD</strong></div>
<div id="header_right"><strong>{{ data.name|upper }}</strong></div>
</div>
 
 
<div id="container"> 
 <div id="left_col">
	<table width="100%" height="555" border="1" cellpadding="20">
		<tr>
			<td style="text-align: center; font-size: 24px; color: #999;"><strong>REGULATORS</strong></td>
	  	</tr>
		<tr>
			<td>
			<fieldset>
			<legend style="text-align: right; font-size: 24px;"><strong>VOLTAGE CONTROL</strong></legend>
            <table>
            <tr>
            <td>

			<div id="knob1" onmouseup="redirect()">
			<input class="cs_knob" value={{ data.voltage }} id="knob1_val" disabled>
			</div>

            </td>
            <td align="right">
            <div id="on_off">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="{% static "css/off.png" %}"  alt="voltage" width=30 height=30 onclick="diffImage(this);" onload="showImage3(this)"></a><strong><span style="font-size: 24px">ON/OFF</span></strong>
            </div>
            </td>
            </tr>
            </table>
            </fieldset>
            
            </td>
            </tr>
            <tr>
            <td>
			<fieldset>
			<legend style="text-align: right; font-size: 24px;"><strong>TIME OUT</strong></legend>
            <table>
            <tr>
            <td>

            <div id="knob2" onmouseup="redirect()">
            <input class="cs_knob2" value={{ data.timeout_interval }} id="knob2_val" disabled>
            </div>
			</td>
            <td align="right">
            <div id="on_off">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="{% static "css/off.png" %}" alt="timeout" onclick="diffImage(this);" width=30 height=30  onload="showImage4(this);"></a><strong><span style="font-size: 24px">ON/OFF</span></strong>
            </div>
            </td>
            </tr>
            </table>
			</fieldset>
			</td>
		</tr>
	</table>
</div><!--end left_col-->

 <div id="right_col">
	<table width="100%" height="555" border="2" cellpadding="20">
		<tr >
			<!-- <td align="center"></br><img src="images/level.png" id="level"></td>-->

			<td align="center">
			<fieldset>
			<legend style="text-align: right; font-size: 24px;"><strong>WATER LEVEL</strong></legend>
			<div id="level">
            <input class="level" value="0">
            </div>
            </fieldset>
			</td>

		</tr>
		<tr>
		<td>
		
			<img src="{% static "css/warning2.png" %}" style="width: 120px; float: left; margin-bottom: 15px; margin-right: 20px;" id="warning">
			<a href="#"><img src="{% static "css/off.png" %}" style="width: 40px;  margin-right: 3px;" id="empty"></a> <strong><span style="font-size: 24px">EMPTY</span></strong></br></br></br>
			<a href="#"><img src="{% static "css/off.png" %}" style="width: 40px; margin-bottom: 15px; margin-right: 3px;" id="full"></a> <strong><span style="font-size: 24px">FULL</span></strong>
			
		</td>
		</tr>
 	</table> 
</div><!--end right_col--> 

<div id="page_content">
	<table width="100%" height="555" border="2" cellpadding="20" >
		<tr>
		<td height="197" colspan="2"><div style="text-align: center;"><img src="{% static "css/logo.png" %}"></div> </td>
		</tr>
		<tr>
			<td height="321" colspan="2"><b><p>&nbsp;</p>
			  <p><span style="color: #0CF"><strong style="text-align: center">WELCOME</strong></span><strong style="text-align: center"> <span style="color: #FFF">{{ data.user|upper }}</span></strong></p>
			  <p><span style="color: #0CF"><strong>DEVICE NAME:</strong></span><strong> <span style="color: #FFF">{{ data.name|upper }}</span></strong></p>
			  <p><span style="color: #0CF"><strong>DATE:</strong></span><strong> <span style="color: #FFF">01/09/2014</span></strong></p>
			  <p><strong style="color: #FFF; font-size: medium;">CONTROL YOUR DEVICE </br>FROM HERE.</strong></p>
			  <p>&nbsp;</p></td>
			
		</tr>
	</table> 
 </div>
<!--end page_content--></div>
</div>
<script type="text/javascript">

$(".cs_knob").knob({
min : 0, 
max : 100, 
step : 1, 
angleOffset : -135, 
angleArc : 270, 
stopper : true, 
readOnly : false, 
cursor : false,  
lineCap : 'butt', 
thickness : '0.4', 
width : 130,
height : 130,
fgColor : '#FF0000',
inputColor : '#00CCFF',
font : 'Arial',
fontWeight : 'bold', 
bgColor : '#00FFFF', 
displayPrevious : true,
'draw' : function () {
    voltage_val=this.cv;
        $(this.i).val(voltage_val+ 'V')

      }

});

$(".cs_knob2").knob({
min : 0, 
max : 100, 
step : 1, 
angleOffset : -135, 
angleArc : 270, 
stopper : true, 
readOnly : false, 
cursor : false,  
lineCap : 'butt', 
thickness : '0.4', 
width : 130,
height : 130,
fgColor : '#FF0000',
inputColor : '#00CCFF',
font : 'Arial',
fontWeight : 'bold', 
bgColor : '#00FFFF', 
displayPrevious : true,
'draw' : function () {
    timeout_val=this.cv;
        $(this.i).val(timeout_val);
      }
});

$(".level").knob({
min : 0, 
max : 100, 
step : 1, 
stopper : true, 
readOnly : true, 
cursor : false,  
lineCap : 'butt', 
thickness : '0.4', 
width : 270,
height : 270,
fgColor : '#0000FF',
inputColor : '#00CCFF',
font : 'Arial',
fontWeight : 'bold', 
bgColor : '#00FFFF', 
displayPrevious : true,
'draw' : function () {
        $(this.i).val(this.cv + '%');

      }

});




</script>
</body> 
 </html>
